<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.starterkit.library.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.starterkit.library.Perspective"
            id="com.starterkit.rcpapp.perspective">
      </perspective>
      <perspective
            class="com.starterkit.library.perspectives.ZooPerspectiveFactory"
            id="com.starterkit.rcpapp.zooperspective"
            name="Book List">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.starterkit.library.View"
            id="com.starterkit.rcpapp.view">
      </view>
      <view
            class="com.starterkit.library.views.BookListViewPart"
            id="com.starterkit.rcpapp.animalsview"
            name="Book list"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.rcpapp.zooperspective">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.starterkit.rcpapp.view">
         </view>
         <view
               id="com.starterkit.rcpapp.animalsview"
               minimized="false"
               ratio="0.25"
               relationship="right"
               relative="com.starterkit.rcpapp.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="com.starterkit.rcpapp.addBookCommand"
                  label="Add book"
                  style="push"
                  tooltip="Adds new book">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.starterkit.rcpapp.animalsview">
         <toolbar
               id="Library.booklistviewtoolbar">
         </toolbar>
         <command
               commandId="com.starterkit.rcpapp.addBookCommand"
               icon="icons/add.gif"
               label="Add book"
               style="push"
               tooltip="Add new book">
         </command>
         <command
               commandId="com.starterkit.rcpapp.deleteBookCommand"
               icon="icons/minus.gif"
               label="Delete book"
               style="push"
               tooltip="Delete book by id">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.starterkit.library.commands.AddBookHandler"
            id="com.starterkit.rcpapp.addBookCommand"
            name="Add book">
      </command>
      <command
            defaultHandler="com.starterkit.library.commands.DeleteBookHandler"
            id="com.starterkit.rcpapp.deleteBookCommand"
            name="Delete book">
      </command>
   </extension>

</plugin>
